# 1. 인구 피라미드

# 남자 데이터 정의

In [1]:
import pandas as pd
df_m = pd.read_excel('C:/Users/sarah/Desktop/py4e/PythonDataWorkspace/프로젝트/201108_201108_연령별인구현황_월간.xlsx',
                     skiprows = 3, index_col = '행정기관',usecols = 'B, E:Y')
#skiprows=3 : 첫 3개 row 공백은 쓸필요 없기 때문에 무시
#index_col='행정기관' : index column을 지정
#usecols = 'B, E:Y' : B열과 E~Y까지의 필요한 columns만 사용
df_m.head(3)

C:\Users\sarah\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,"1,195,951","1,233,465","1,663,534","1,890,498","1,667,705","1,844,651","2,048,038","2,178,901","2,335,456","2,165,327",...,"1,556,649","1,129,517","883,074","701,439","419,877","186,554","75,904","22,020","4,651","2,607"
서울특별시,"217,685","215,881","290,064","349,753","335,868","435,347","474,347","461,401","459,759","413,538",...,"326,028","241,501","190,131","134,312","70,398","30,893","13,028","4,530","1,163",884
부산광역시,"67,247","70,521","103,201","130,774","122,276","130,924","137,943","136,378","148,501","146,523",...,"134,265","99,030","73,472","53,357","28,437","11,595","4,193","1,083",253,223

In [2]:
df_m.iloc[0]

0~4세       1,195,951
5~9세       1,233,465
10~14세     1,663,534
15~19세     1,890,498
20~24세     1,667,705
25~29세     1,844,651
30~34세     2,048,038
35~39세     2,178,901
40~44세     2,335,456
45~49세     2,165,327
50~54세     2,169,808
55~59세     1,556,649
60~64세     1,129,517
65~69세       883,074
70~74세       701,439
75~79세       419,877
80~84세       186,554
85~89세        75,904
90~94세        22,020
95~99세         4,651
100세 이상        2,607
Name: 전국  , dtype: object

In [5]:
#df_m.iloc[0] = df_m.iloc[0].str.replace(',', '').astype(int) #1,195,951 -> 1195951 (정수형)으로 바꿔준다

In [6]:
df_m.iloc[0]

0~4세       1195951
5~9세       1233465
10~14세     1663534
15~19세     1890498
20~24세     1667705
25~29세     1844651
30~34세     2048038
35~39세     2178901
40~44세     2335456
45~49세     2165327
50~54세     2169808
55~59세     1556649
60~64세     1129517
65~69세      883074
70~74세      701439
75~79세      419877
80~84세      186554
85~89세       75904
90~94세       22020
95~99세        4651
100세 이상       2607
Name: 전국  , dtype: object